# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.pcap

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/dnsmonster

#generated docker-compose
docker-compose.yml

# Dependency directories (remove the comment below to include it)
# vendor/
# .env file for docker-compose
.env
.vscode/*

.TODO.md

dist/
cmd/dnsmonster/dnsmonster
node_modules/
docs/public/
docs/resources/_gen/
docs/.hugo_build.lock
