afpacketBuffersizeMb=64
allowDomainsFile=
allowDomainsFileType=
allowDomainsRefreshInterval=1m0s
batchSize=100000
captureStatsDelay=1s
clickhouseAddress=localhost:9000
clickhouseDebug=false
clickhouseDelay=1s
clickhouseOutputType=skipdomains
cpuprofile=
defraggerChannelReturnSize=500
defraggerChannelSize=500
devName=lo
dnstapPermission=755
dnstapSocket=
fileOutputPath=
fileOutputType=none
filter=((ip and (ip[9] == 6 or ip[9] == 17)) or (ip6 and (ip6[6] == 17 or ip6[6] == 6 or ip6[6] == 44)))
gcTime=10s
gomaxprocs=-1
loggerFilename=false
maskSize=32
memprofile=
packetHandlerChannelSize=100000
packetHandlers=1
packetLimit=0
pcapFile=
port=53
printStatsDelay=10s
resultChannelSize=100000
sampleRatio=1:1
saveFullQuery=false
serverName=default
skipDomainsFile=
skipDomainsFileType=
skipDomainsRefreshInterval=1m0s
tcpAssemblyChannelSize=1000
tcpHandlers=1
tcpResultChannelSize=1000
useAfpacket=false
