google.com.,suffix
gstatic.com.,suffix
googleapis.com.,suffix
googlevideo.com.,suffix
google-analytics.com.,suffix
googlesyndication.com.,suffix
ytimg.com.,suffix
youtube.com.,suffix
mozilla.com.,suffix
microsoft.com.,suffix
microsoftonline.com.,suffix
msedge.net.,suffix
office.com.,suffix
hotmail.com.,suffix
office365.com.,suffix
outlook.com.,suffix
msftncsi.com.,suffix
bing.com.,suffix
yahoo.com.,suffix
spotify.com,suffix
facebook.com.,suffix
facebook.net.,suffix
fastly.net.,suffix
fbcdn.net.,suffix
apple-dns.net.,suffix
icloud.com.,suffix
apple.com.akadns.net.,suffix
apple.com.,suffix
app-measurement.com.,suffix
aaplimg.com.,suffix
icloud.com.akadns.net.,suffix
doubleclick.net.,suffix
netflix.net.,suffix
netflix.com.,suffix
spotify.com.,suffix
t.co.,suffix
ntp.org.,suffix
tiktokcdn.com.,suffix
tiktokv.com.,suffix
instagram.com.,suffix
snapchat.com.,suffix
dev.Home.,fqdn
dev.,fqdn
wpad.home.,fqdn
local.,fqdn
e6858.dsce9.akamaiedge.net.,fqdn