[Unit]
Description=ClickHouse Container

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a dns-clickhouse-server
ExecStop=/usr/bin/podman stop -t 2 dns-clickhouse-server

[Install]
WantedBy=local.target