name: Publish binaries on Release
on:
  release:
    types: [created]

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin, freebsd, openbsd]
        goarch: [amd64, arm64]
        include:
          - goos: linux
            goarch: arm
            goarm: "7"
    steps:
      - uses: actions/checkout@v6
      - uses: wangyoucao577/go-release-action@v1
        env:
          CGO_ENABLED: 0 # support alpine
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          project_path: "./cmd/dnsmonster"
          ldflags: "-s -w"
          build_flags: "-v -tags nolibpcap"
