name: Publish binaries on Release
on:
  release:
    types: [created]

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, windows/386, windows/amd64, darwin/386, darwin/amd64
        goos: [linux, windows, darwin, freebsd, openbsd]
        goarch: [amd64, arm64, arm]
        exclude:
          - goarch: "arm"
            goos: windows
          - goarch: "arm"
            goos: darwin
    steps:
      - uses: actions/checkout@v6
      - uses: wangyoucao577/go-release-action@v1
        env:
          CGO_ENABLED: 0 # support alpine
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          project_path: "./cmd/dnsmonster"
          ldflags: "-s -w"
          build_flags: "-v -tags nolibpcap"
