name: Publish binaries on Release
on:
  release:
    types: [created]

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin, freebsd, openbsd]
        goarch: [amd64, arm64]
        include:
          - goos: linux
            goarch: arm
            goarm: "7"
    steps:
      - uses: actions/checkout@v6
      - uses: wangyoucao577/go-release-action@v1
        env:
          CGO_ENABLED: 0 # support alpine
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          project_path: "./cmd/dnsmonster"
          ldflags: "-s -w"
          build_flags: "-v -tags nolibpcap"

  releases-windows:
    name: Release Windows Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goarch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v6
      - uses: wangyoucao577/go-release-action@v1
        env:
          CGO_ENABLED: 0 # support alpine
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: windows
          goarch: ${{ matrix.goarch }}
          project_path: "./cmd/dnsmonster"
          ldflags: "-s -w"
          build_flags: "-v -tags nolibpcap"
          upload_assets: false

      - name: Upload Windows artifact for signing
        id: upload-windows-artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ github.workspace }}/release/*
          name: dnsmonster-windows-${{ matrix.goarch }}-unsigned

      - name: Sign Windows binary with SignPath
        id: sign-windows
        uses: signpath/github-action-submit-signing-request@v1
        with:
          api-token: "${{ secrets.SIGNPATH_API_TOKEN }}"
          organization-id: "${{ secrets.SIGNPATH_ORGANIZATION_ID }}"
          project-slug: "${{ secrets.SIGNPATH_PROJECT_SLUG }}"
          signing-policy-slug: "${{ secrets.SIGNPATH_SIGNING_POLICY_SLUG }}"
          github-artifact-id: "${{ steps.upload-windows-artifact.outputs.artifact-id }}"
          wait-for-completion: true
          output-artifact-directory: /tmp/signed

      - name: Upload signed Windows binary to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /tmp/signed/dnsmonster-windows-${{ matrix.goarch }}.exe
          asset_name: dnsmonster-windows-${{ matrix.goarch }}.exe
          tag: ${{ github.ref }}
          overwrite: true
          body: ""
